@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    -webkit-tap-highlight-color: transparent; /* указываем это свойство,чтобы при нажатии кнопок на телефоне задний фон кнопок не изменялся на секунду на синий*/
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex-grow: 1;
}

.container {
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    background-color: #3589c2;
    color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-title {
    font-weight: 700;
    font-size: 32px;
}

.header__menuList {
    display: flex;
    align-items: center;
    gap: 70px;
}

.menuList__item-link {
    font-size: 18px;
    font-weight: 400;
    opacity: 1;
    transition: all .5s ease;
}

.menuList__item-linkActive {
    color: #4ab6ff;
}

.menuList__item-link:hover {
    opacity: 0.5;
}

.menuList__item-cart {
    position: relative;
}

.item__link-spanCart {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0 1px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    color: #1B6392;
    transition: all .5s ease;
}

.menuList__item-linkCartActive .item__link-spanCart {
    background-color: #85ccfc;
}

.sectionTop {
    padding: 24px 0;
    opacity: 0;
    transform: translateX(-50%);
    transition: all 1s ease;
}

.sectionTop__active {
    opacity: 1;
    transform: translateX(0);
}

.sectionTop__inner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.sectionTop__left {
    padding: 56px;
    display: flex;
    align-items: center;
    gap: 36px;
    background-color: #F2F4F5;
    border-radius: 6px;
}

.info__subtitle {
    color: #2484C2;
    font-size: 14px;
    font-weight: 600;
}

.info__title {
    color: #000;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
}

.info__desc {
    font-size: 18px;
    font-weight: 400;
    color: #475156;
    margin-bottom: 24px;
}

.info__link {
    padding: 16px 32px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #FA8232;
    max-width: 191px;
    font-family: 'Public Sans', sans-serif;
    transition: opacity .5s ease;
    justify-content: space-evenly;
}

.info__link:hover {
    opacity: 0.8;
}

.info__link:hover .info__link-img {
    animation: arrow 1s ease infinite;
}

.info__link-text {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.sectionTop__right-topBlock {
    padding: 46px;
    display: flex;
    justify-content: space-between;
    gap: 93px;
    background-image: url('/public/images/sectionTop/Widget.png');
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;
}

.right__info-subtitle {
    color: #EBC80C;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.right__info-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 18px;
}

.right__info-link {
    max-width: 156px;
    gap: 5px;
    padding: 14px;
    align-items: center;
    justify-content: space-evenly;
}

.right__info-link .info__link-text,
.right__bottomBlock-link .info__link-text {
    font-size: 14px;
}

.right__info-link:hover {
    opacity: 0.9;
}

.info__link-text {
    text-wrap: nowrap;
}

.sectionTop__right-sale {
    padding: 8px 16px;
    background-color: #EFD33D;
    align-self: start;
    border-radius: 2px;
}

.right__sale-text {
    font-size: 16px;
    font-weight: 600;
    text-wrap: nowrap;
}

.sectionTop__right-bottomBlock {
    background-color: #F2F4F5;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 6px;
}

.right__bottomBlock-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}

.right__bottomBlock-price {
    color: #2DA5F3;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.right__bottomBlock-link {
    max-width: 156px;
    justify-content: center;
}

.sectionTop__desc {
    margin-top: 24px;
    padding: 16px;
    margin-bottom: 48px;
    border: 1px solid #E4E7E9;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 28px;
}

.sectionTop__desc-item {
    border-right: 1px solid #E4E7E9;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 74px;
}

.item__info-title {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.item__info-text {
    font-size: 14px;
    font-weight: 400;
    color: #5F6C72;
}

.sectionTop__desc-item4 {
    border-right: none;
}

.sectionDeals {
    padding-bottom: 72px;
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s ease;
}

.sectionDeals__active {
    opacity: 1;
    transform: translateX(0);
}

.sectionDeals__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.sectionDeals__title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.sectionDeals__top-browseBlock {
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 1;
    transition: opacity .5s ease;
}

.sectionDeals__top-browseBlock:hover {
    opacity: 0.8;
}

@keyframes arrow {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50%);
    }

    70% {
        transform: translateX(-30%);
    }

    85% {
        transform: translateX(20%);
    }

    100% {
        transform: translateX(0);
    }
}

.sectionDeals__top-browseBlock:hover .top__browseBlock__img {
    animation: arrow 1s ease infinite;
}


.top__browseBlock-text {
    font-size: 14px;
    font-weight: 600;
    color: #2DA5F3;
}

.sectionDeals__deals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-left: 1px solid #E4E7E9;
    border-bottom: 1px solid #E4E7E9;
    border-top: 1px solid #E4E7E9;
}

.deals__item {
    padding: 16px;
    transition: all .5s ease;
    border-right: 1px solid #E4E7E9;
}

.deals__item-borderTop{
    border-top: 1px solid #E4E7E9;
}

.deals__item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.sectionDeals__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 302px;
    position: relative;
    cursor:pointer;
}

.deals__item-discount {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.deals__item-hot {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #EE5858;
    padding: 5px 10px;
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: 2px;
    z-index: 2;
}

.deals__item4 {
    border-right: none;
}

.deals__item5 {
    border-top: 1px solid #E4E7E9;
}

.deals__item-img {
    align-self: center;
    margin-bottom: 6px;
    mix-blend-mode: multiply;
    /* убираем задний белый фон картинки */
}

.deals__item-desc {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 8px;
}

.deals__item-priceBlock {
    display: flex;
    align-items: center;
    gap: 5px;
}

.deals__item-pricePrev {
    color: #929FA5;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}

.deals__item-price {
    font-size: 14px;
    font-weight: 600;
    color: #2DA5F3;
}

.sectionNew {
    padding-bottom: 72px;
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s ease;
}

.sectionNew__active {
    opacity: 1;
    transform: translateX(0);
}

.sectionNew__inner {
    display: flex;
    gap: 24px;
}

.sectionNew__left {
    padding: 44px;
    background-color: #F2F4F5;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 4px;
    width: 100%;
}

.sectionNew__left-info {
    max-width: 280px;
}

.sectionNew__left-subtitle {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    background-color: #2DA5F3;
    margin-bottom: 8px;
    display: inline-block;
}

.sectionNew__left-title {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
}

.sectionNew__right-info {
    max-width: 280px;
}

.sectionNew__text {
    font-size: 16px;
    font-weight: 400;
    color: #475156;
    margin-bottom: 20px;
}

.sectionNew__right {
    padding: 44px;
    background-image: url('/public/images/sectionNew/Banner.png');
    display: flex;
    gap: 12px;
    border-radius: 4px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.sectionNew__right-img {
    align-self: flex-end;
}

.sectionNew__right-subtitle {
    padding: 6px 12px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: #EFD33D;
    display: inline-block;
}

.sectionNew__right-title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 12px;
}

.sectionNew__right-text {
    font-size: 16px;
    font-weight: 400;
    color: #ADB7BC;
    margin-bottom: 20px;
}

.sectionNew__info-link {
    padding: 14px 5px 14px 25px;
}

.sectionMac {
    margin-bottom: 72px;
    opacity: 0;
    transform: translate(-50%);
    transition: all 1s ease;
}

.sectionMac__active {
    opacity: 1;
    transform: translate(0);
}

.sectionMac__inner {
    padding: 0 72px;
    background-color: #FFE7D6;
    display: flex;
    justify-content: space-between;
}

.sectionMac__info-subtitle {
    padding: 6px 12px;
    color: #fff;
    background-color: #2DA5F3;
    margin-bottom: 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.sectionMac__info-title {
    font-size: 48px;
    font-weight: 600;
    color: #000;
    margin-bottom: 22px;
}

.sectionMac__info-text {
    font-size: 24px;
    font-weight: 400;
    color: #191C1F;
    margin-bottom: 22px;
}

.sectionMac__info {
    align-self: center;
}

.sectionSellers {
    margin-bottom: 56px;
    overflow-y: hidden;
}

.sectionSellers__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 1s ease;
}

.sectionSellers__inner-active {
    opacity: 1;
    transform: translateY(0);
}

.sectionSellers__flash-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}

.sectionSellers__flash-item {
    padding: 12px;
    display: flex;
    gap: 12px;
    align-items: center;
    border: 1px solid #E4E7E9;
    margin-bottom: 16px;
    transition: all .3s ease;
    cursor:pointer;
    max-height: 87px;
}

.sectionSellers__flash-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.flashItem__info-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.item__info-price {
    color: #2DA5F3;
    font-size: 14px;
    font-weight: 600;
}

.flash__item-img {
    mix-blend-mode: multiply;
    /* убираем задний белый фон картинки */

    max-width: 72px;
}

.footer {
    padding: 72px 0 24px 0;
    background-color: #191C1F;
    color: #fff;
}

.footer__top {
    border-bottom: 1px solid #4d4d4d;
}

.footer__top-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 150px;
    padding-bottom: 72px;
}

.footer__logo {
    margin-bottom: 24px;
}

.mainCatalog {
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease;
}

.mainCatalog__active {
    transform: translateX(0);
    opacity: 1;
}

.top__info-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: #77878F;
    margin-bottom: 4px;
}

.top__info-number {
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
    transition: opacity .3s ease;
}

.top__info-number:hover {
    opacity: 0.7;
}

.top__info-email {
    opacity: 1;
    transition: opacity .3s ease;
}

.top__info-email:hover {
    opacity: 0.7;
}

.top__info-address {
    font-size: 16px;
    font-weight: 400;
    color: #ADB7BC;
    margin: 12px 0;
}

.list__item-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.list__item-link {
    font-size: 14px;
    font-weight: 500;
    color: #929FA5;
    margin-bottom: 12px;
    display: inline-block;
    opacity: 1;
    transition: opacity .3s ease;
}

.list__item-link:hover {
    opacity: 0.7;
}

.top__download-item {
    padding: 18px 20px;
    background-color: #303639;
    margin-bottom: 12px;
    display: flex;
    gap: 16px;
    transition: opacity .3s ease;
}

.top__download-item:hover {
    opacity: 0.7;
}

.download__item-subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
}

.download__item-text {
    font-size: 14px;
    font-weight: 500;
}

.footer__bottom-text {
    padding-top: 24px;
    font-size: 14px;
    font-weight: 400;
    color: #ADB7BC;
    text-align: center;
}

.sectionCatalog__top {
    background-color: #F2F4F5;
    padding: 26px;
}

.sectionCatalog__top-inner {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5F6C72;
    font-size: 14px;
    font-weight: 400;
}

.sectionCatalog__top-textCenter {
    margin: 0 4px;
}

.sectionCatalog__top-textActive {
    color: #2DA5F3;
}

.sectionCatalog__inner {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 24px;
}

.filterBar__title {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.filterBar__categories,
.filterBar__price {
    padding-bottom: 24px;
    border-bottom: 1px solid #E4E7E9;
    margin-bottom: 24px;
}

.filterBar__categories-item {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: pointer;
    opacity: 1;
    transition: all .5s ease;
}

.filterBar__categories-item:hover {
    opacity: 0.7;
}

.filterBar__categories-item:hover .categories__item-radioStyle,
.filterBar__categories-item:hover .categories__item-checkBoxStyle {
    border: 2px solid #FA8232;
}

.categories__item-text {
    font-size: 14px;
    font-weight: 400;
    color: #475156;
    margin-left: 28px;
}

.categories__item-amount {
    font-size: 14px;
    font-weight: 400;
    color: #8c8e8f;
    opacity: 1;
}

.categories__item-amountDisable {
    opacity: 0;
}

.categories__item-radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.categories__item-radioStyle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #C9CFD2;
    border-radius: 50%;
}

.categories__item-radioStyleActive {
    background-color: #FA8232;
}

.categories__item-radio:checked+.categories__item-radioStyle::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.categories__item-textActive {
    font-size: 14px;
    font-weight: 500;
    color: #191C1F;
}

.categories__item-checkBoxStyle {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #C9CFD2;
}

.categories__item-checkBoxStyleActive {
    background-color: #FA8232;
}

.categories__item-checkBoxStyleActive.categories__item-checkBoxStyle::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('/public/images/sectionCatalog/Check.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.productsBlock__top-input {
    border: 1px solid #E4E7E9;
    color: #77878F;
    padding: 14px 40px 14px 16px;
    outline: none;
    position: relative;
    width: 100%;
}

.productsBlock__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.productsBlock__top-inputBlock {
    min-width: 424px;
    position: relative;
}

.productsBlock__top-selectBlock {
    display: flex;
    align-items: center;
    gap: 22px;
}

.selectBlock__select {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #E4E7E9;
    min-width: 180px;
    position: relative;
    min-height: 44px;
}

.select__img {
    position: absolute;
    top: 12px;
    right: 16px;
}

.selectBlock__select-inner {
    position: relative;
    cursor: pointer;
}

.select__optionsBlock {
    max-height: 0;
    position: absolute;
    top:45px;
    left: 0;
    opacity: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    transition: all 1s ease;
    z-index: -2;
}

.select__optionsBlock--active {
    max-height: 100px;
    opacity: 1;
    z-index: 5;
}

.optionsBlock__item {
    padding: 5px;
    padding: 12px 0 10px 10px;
}

.optionsBlock__item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.optionsBlock__item-text {
    font-size: 14px;
    font-weight: 400;
}

.productsBlock__top-img {
    position: absolute;
    top: 12px;
    right: 12px;
}

.select__img {
    transform: rotate(0deg);
    transition: all .5s ease;
}

.select__img--active {
    transform: rotate(-180deg);
}

.productsBlock__top-filters {
    background-color: #F2F4F5;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.filters__left-text {
    color: #5F6C72;
}

.top__filters-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.filters__left-filterItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.filterItem-img {
    cursor: pointer;
}

.filterItem__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #191C1F;
}

.top__filters-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filters__right-text {
    color: #191C1F;
    font-weight: 500;
}

.filters__right-desc {
    color: #5F6C72;
}

.sectionCatalog__productsBlock-products {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.item__stars-img {
    mix-blend-mode: multiply;
}

.item__stars-imgGray {
    max-width: 15px;
    mix-blend-mode: multiply;
}

.products__item {
    border: 1px solid #E4E7E9;
    padding: 16px;
    transition: all .5s ease;
    cursor: pointer;
}

.products__item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.products__item-img {
    margin-bottom: 24px;
    mix-blend-mode: multiply;
    max-width: 212px;
}

.products__item-middleBlock {
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
}

.item__middleBlock-text {
    color: #77878F;
    font-size: 14px;
    font-weight: 400;
}

.products__item-desc {
    font-size: 14px;
    font-weight: 400;
    color: #191C1F;
    margin-bottom: 8px;
}

.products__item-price {
    color: #2DA5F3;
    font-size: 14px;
    font-weight: 600;
}

.sectionAbout {
    transform: translateX(-50%);
    transition: all 1s ease;
    opacity: 0;
}

.sectionAbout--active {
    transform: translateX(0);
    opacity: 1;
}

.sectionAbout__top {
    padding: 72px 0 124px 0;
    display: flex;
    align-items: center;
    gap: 136px;
}

.sectionAbout__inner {
    border-bottom: 1px solid #E4E7E9;
}

.sectionAbout__top-img {
    border-radius: 4px;
}

.sectionAbout__top-info .top__info-subtitle {
    background-color: #2DA5F3;
    color: #fff;
    padding: 8px 16px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;

}

.top__info-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}

.top__info-desc {
    font-size: 16px;
    font-weight: 400;
    color: #475156;
    margin-bottom: 32px;
}

.top__info-itemDesc {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.sectionTeam__inner {
    padding: 72px 0;
}

.sectionTeam__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}

.sectionTeam__team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.sectionTeam__inner {
    transform: translateX(50%);
    opacity: 0;
    transition: all 1s ease;
}

.sectionTeam__inner--active {
    transform: translateX(0);
    opacity: 1;
}

.team__item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border: 1px solid #E4E7E9;
}

.team__item-title {
    font-size: 16px;
    font-weight: 600;
    color: #191C1F;
    margin-bottom: 8px;
}

.team__item-text {
    font-size: 14px;
    font-weight: 400;
    color: #475156;
}

.sectionTrusted {
    background-image: url('/public/images/sectionAbout/Banner.png');
    padding: 88px 0 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 72px;
    transform: translateX(-50%);
    transition: all 1s ease;
    opacity: 0;
}

.sectionTrusted--active {
    opacity: 1;
    transform: translateX(0);
}

.sectionTrusted__title {
    max-width: 300px;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 600;
}

.sectionTrusted__text {
    max-width: 423px;
    font-size: 18px;
    font-weight: 400;
}

.mainCart {
    transform: translateX(-50%);
    transition: all 1s ease;
    opacity: 0;
}

.mainCart--active {
    transform: translateX(0);
    opacity: 1;
}

.sectionTableCart {
    margin: 72px 0 200px 0;
}

.sectionTableCart__inner {
    display: flex;
    gap: 24px;
}

.sectionTableCart__table {
    border: 1px solid #E4E7E9;
    min-width: 872px;
}

.table__top {
    padding: 20px 24px;
}

.sectionTableCart__title {
    font-size: 18px;
    font-weight: 500;
    color: #191C1F;
}

.table__names {
    padding: 10px 24px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    background-color: #F2F4F5;
    border-top: 1px solid #E4E7E9;
    border-bottom: 1px solid #E4E7E9;
}

.table__names-text {
    text-transform: uppercase;
    color: #475156;
    font-size: 14px;
    font-weight: 500;
}

.table__bottom {
    padding: 24px;
    display: grid;
    border-top: 1px solid #E4E7E9;
}

.table__bottom-btnUpdate {
    border: 2px solid #2DA5F3;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #2DA5F3;
    background-color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s ease;
    justify-self: end;
}

.table__bottom-btnUpdate:hover {
    opacity: 0.5;
}

.sectionTableCart__totals {
    border: 1px solid #E4E7E9;
    padding: 20px 24px;
    min-width: 424px;
}

.totals__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #191C1F;
}

.totals__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.totals__item-text {
    color: #5F6C72;
    font-size: 14px;
    font-weight: 400;
}

.totals__item-textRight {
    color: #191C1F;
    font-size: 14px;
    font-weight: 600;
}

.totals__itemTotal {
    border-top: 1px solid #E4E7E9;
    padding: 16px 0 24px 0;
}

.totals__item-textTotal {
    font-size: 16px;
    font-weight: 500;
}

.totals__item-totalPrice {
    color: #191C1F;
    font-size: 16px;
    font-weight: 700;
}

.table__items {
    padding: 24px;
}

.totals__btn {
    padding: 16px 70px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #FA8232;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: opacity .5s ease;
    border: none;
    cursor: pointer;
}

.totals__btn:hover {
    opacity: 0.8;
}

.totals__btn:hover .totals__btn-img {
    animation: arrow 1s ease infinite;
}

.table__item-item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 16px;
}

.table__item-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.table__item-deleteImg {
    cursor: pointer;
    transition: opacity .5s ease;
    opacity: 1;
}

.table__item-deleteImg:hover {
    opacity: 0.7;
}

.table__item-inputBlock {
    max-width: 120px;
    position: relative;
}

.inputBlock__minusBtn {
    position: absolute;
    top: 12px;
    left: 15px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
}

.inputBlock__plusBtn {
    position: absolute;
    top: 12px;
    right: 15px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    outline: none;
}

.table__item-desc {
    font-size: 14px;
    font-weight: 400;
    max-width: 260px;
    cursor: pointer;
    opacity: 1;
    transition:all .5s ease;
}
.table__item-desc:hover{
    opacity: 0.7;
    color:#FA8232;
}

.inputBlock__input {
    max-width: 120px;
    padding: 12px 40px;
    text-align: center;
    border: 1px solid #E4E7E9;
    outline: none;
}

/* убираем стрелки вверх и вниз для инпута по умолчанию */
.inputBlock__input::-webkit-inner-spin-button,
.inputBlock__input::-webkit-outer-spin-button {
    appearance: none;
}

.mainProductPage {
    transform: translateX(-50%);
    opacity: 0;
    transition: all 1s ease;
}

.mainProductPage--active {
    transform: translateX(0);
    opacity: 1;
}

.sectionProductTop {
    padding: 32px 0 72px 0;
}

.sectionProductTop__imgBlock-img {
    border: 1px solid #E4E7E9;
    padding: 20px;
}

.sectionProductTop__inner {
    display: flex;
    gap: 56px;
    justify-content: space-around;
    align-items: center;
}

.infoBlock__title {
    font-size: 20px;
    font-weight: 400;
    margin: 8px 0 16px 0;
}

.infoBlock__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoBlock__item-textBlock {
    display: flex;
    align-items: center;
    gap: 2px;
}

.infoBlock__item-textLeft {
    color: #5F6C72;
    font-weight: 400;
    font-size: 16px;
}

.infoBlock__item-textRight {
    font-weight: 500;
    font-size: 16px;
}

.infoBlock__price {
    margin: 24px 0;
    color: #2DA5F3;
    font-size: 24px;
    font-weight: 600;
}

.infoBlock__amountBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoBlock__item-textRightStock {
    color: #2DB224;
}

.amountBlock__btn {
    padding: 18px 80px;
    background-color: #FA8232;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Public Sans', sans-serif;
    border: none;
    cursor: pointer;
    transition: opacity .5s ease;
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 12px;
}

.amountBlock__btn:hover {
    opacity: 0.8;
}

.amountBlock__btn:hover .amountBlock__btn-img {
    animation: arrow 1s ease infinite;
}

.sectionProductTop__infoBlock {
    min-width: 548px;
}

@keyframes appearDesc {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}   

.sectionDesc__top-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid #E4E7E9;
}
.sectionDesc__innerMain{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 24px;
    animation: appearDesc 1s ease forwards;
}
.sectionDesc__desc {
    border-left: 1px solid #E4E7E9;
    border-right: 1px solid #E4E7E9;
    border-bottom: 1px solid #E4E7E9;
    padding: 40px;
    margin-bottom: 110px;
}

.desc__info__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}

.desc__info-text {
    font-size: 14px;
    font-weight: 400;
    color: #5F6C72;
    margin-bottom: 12px;
}

.top__tabs-text {
    text-transform: uppercase;
    color: #5F6C72;
    font-size: 14px;
    font-weight: 500;
    padding: 18px 0;
    cursor: pointer;
    transition: opacity .5s ease;
    opacity: 1;
}

.top__tabs-text:hover {
    opacity: 0.5;
}

.top__tabs-textActive {
    color: #000;
    font-weight: 600;
    border-bottom: 3px solid #FA8232;
}

.desc__feature-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 14px;
}

.desc__shipInfo {
    border-left: 1px solid #E4E7E9;
    padding-left: 24px;
}

.shipInfo__item {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 12px;
}

.shipInfo__item-title {
    font-size: 14px;
    font-weight: 500;
}

.shipInfo__item-text {
    color: #5F6C72;
    font-size: 14px;
    font-weight: 400;
}

.sectionCatalog__productsBlock-pagination {
    margin: 40px 0 72px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.pagination__btnArrow {
    border: none;
    background-color: #fff;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s ease;
}

.pagination__btnArrow:hover {
    opacity: 0.5;
}

.pagination__item {
    border: 1px solid #E4E7E9;
    padding: 12px 16px;
    border-radius: 100px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #191C1F;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s ease;
}

.pagination__item:hover {
    opacity: 0.5;
}

.pagination__item--active {
    background-color: #FA8232;
    color: #fff;
    border: none;
}

.pagination__btnArrow-Right {
    margin-left: 5px;
}

.pagination__btnArrow-Left {
    margin-right: 5px;
}

.reviews__inner {
    padding: 40px;
    border-left: 1px solid #E4E7E9;
    border-right: 1px solid #E4E7E9;
    border-bottom: 1px solid #E4E7E9;
    margin-bottom: 110px;
}
.reviews__innerMain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    animation: appearDesc 1s ease forwards;

}
.reviews__leftBlock-comment{
    margin-bottom: 20px;
}

.comment__top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.reviews__rightBlock-top {
    display: grid;
}

.rightBlock__top-btn {
    justify-self: end;
}

.form__top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.rightBlock__top-btn {
    background-color: #FA8232;
    color: #fff;
    font-size: 14px;
    font-family: 'Public Sans',sans-serif;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: all .5s ease;
}
.rightBlock__top-btn:hover{
    opacity: 0.7;
}
.rightBlock__top-btnNone{
    display: none;
}

.form__top-inputName {
    padding: 10px 15px;
    outline: none;
    border: 1px solid #A2A6B0;
}

.reviews__rightBlock-form{
    transition:opacity .5s ease;
}

.reviews__rightBlock-formNone{
    opacity: 0;
}

.form__textarea {
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #A2A6B0;
    padding: 15px 20px 10px 15px;
    resize: none;
    /* убираем возможность изменять размер textarea */
    min-height: 70px;
}
.item__stars-imgForm{
    cursor:pointer;
    margin-left: 3px;
    opacity: 1;
    transition:opacity .3s ease;
}
.item__stars-imgForm:hover{
    opacity: 0.5;
}
.form__errorText{
    margin-bottom: 10px;
    color:#EE5858;
}
.table__item-itemImg{
    max-width: 82px;
    opacity: 1;
    transition:opacity .5s ease;
    cursor:pointer;
}
.table__item-itemImg:hover{
    opacity: 0.7;
}
.table__item-subTotalPrice{
    font-weight: 600;
}
.table__emptyCartText{
    margin: 22px;
}
.sectionForm__inner{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionForm__formBlock{
    /* какие значение что значат в данном box-shadow по порядку, offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 8px 40px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border:1px solid #E4E7E9;
}
.formBlock__top{
    display: flex;
    align-items: center;
}
.formBlock__top-titleBtn{
    font-family: "Public Sans", sans-serif;
    padding: 16px 65px;
    color:#77878F;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
    border:none;
    cursor:pointer;
    opacity: 1;
    transition:opacity .5s ease;
    width: 100%;
    min-width: 209px;
}
.formBlock__top-titleBtnActive{
    color:#191C1F;
    border-bottom:3px solid #FA8232;
}
.formBlock__top-titleBtn:hover{
    opacity: 0.5;
}
.formBlock__signInMain{
    padding: 24px 32px 32px 32px;
    animation: formAppear 1s ease forwards;
}

@keyframes formAppear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.emailBlock__text{
    font-size: 14px;
    font-weight: 500;
    color:#191C1F;
    margin-bottom: 8px;
}
.emailBlock__input{
    margin-bottom: 20px;
    border:1px solid #E4E7E9;
    outline:none;
    padding:15px 40px 15px 15px;
    width: 100%;
}
.formBlock__passwordBlock{
    position: relative;
}
.passwordBlock__eyeBtn{
    position: absolute;
    top:37px;
    right: 12px;
    background-color: #fff;
    border:none;
    cursor:pointer;
    opacity: 1;
    transition:opacity .5s ease;
}
.passwordBlock__eyeBtn:hover{
    opacity: 0.7;
}
.formBlock__btn{
    border:none;
    cursor:pointer;
    padding: 16px 32px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: #FA8232;
    font-family: 'Public Sans', sans-serif;
    transition: opacity .5s ease;
    width: 100%;
}
.formBlock__btn:hover{
    opacity: 0.8;
}
.formBlock__btn:hover .info__link-img{
    animation: arrow 1s ease infinite;
}   
.formBlock__btn .info__link-text{
    font-size: 14px;
    font-weight: 600;
}
.formBlock__checkBlock{
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}
.formBlock__checkBlock-termLink{
    color:#2DA5F3;
    opacity: 1;
    transition:opacity .5s ease;
}
.formBlock__checkBlock-termLink:hover{
    opacity: 0.7;
}
.formBlock__checkBlock-label{
    margin-bottom: 0;
}
.formBlock__textError{
    font-size: 16px;
    color:#EE5858;
    font-weight: 400;
    margin-bottom: 15px;
    max-width: 426px;
}

.loader{
    margin-top: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:3px dashed #3589c2;
    animation: rotate 1s infinite ease;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg) scale(1);
    }
    100%{
        transform: rotate(360deg) scale(1.2);
    }
}

.innerForLoader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.userPage__inner{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap:72px;
    margin-top: 40px;
    margin-bottom: 72px;
}
.userPage__leftBar{
    /* какие значение что значат в данном box-shadow по порядку, offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0 8px 40px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border:1px solid #E4E7E9;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftBar__list-itemLogout{
    margin-bottom: 16px;
}

.leftBar__item-btn{
    width: 100%;
    display: flex;
    align-items: center;
    gap:12px;
    padding: 10px 136px 10px 24px;
    border:none;
    background-color: #fff;
    cursor: pointer;
    transition:all .5s ease;
}

.leftBar__item-btn:hover{
    background-color: #FA8232;
    opacity: 0.8;
}

.leftBar__item-btn--active{
    color:#fff;
    background-color: #FA8232;
}

.leftBar__item-btn:hover .leftBar__btn-text{
    color:#fff;
}
.userPage__mainBlock-dashboard{
    animation:appearDesc 1s ease forwards;
}
.leftBar__btn-text{
    color:#5F6C72;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Public Sans',sans-serif;
    transition:color .5s ease;
    text-wrap: nowrap;
}

.leftBar__btn-text--active{
    color:#fff;
}

.dashboard__title{
    color:#191C1F;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.dashboard__text{
    color:#475156;
    font-size: 16px;
    font-weight: 400;
    max-width: 523px;
    margin-bottom: 24px;
}

.dashboard__text-span{
    color:#2DA5F3;
    cursor: pointer;
    transition: opacity .5s ease;
}
.dashboard__text-span:hover{
    opacity: 0.5;
}

.dashboard__accInfo{
    border-radius: 4px;
    border:1px solid #E4E7E9;
    max-width: 312px;
}
.accInfo__title{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color:#191C1F;
    padding: 16px 24px;
    border-bottom: 1px solid #E4E7E9;
}
.accInfo__main{
    padding: 22px 24px 24px 24px;
}
.accInfo__main-title{
    color:#191C1F;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.accInfo__main-textBlock{
    display: flex;
    align-items: center;
    gap:4px;
    margin-bottom: 22px;
}
.accInfo__textBlock-bold{
    color:#191C1F;
    font-size: 14px;
    font-weight: 600;
}
.accInfo__textBlock-default{
    color:#5F6C72;
    font-size: 14px;
    font-weight: 400;
}
.accInfo__main-btn{
    background-color: #fff;
    border: 2px solid #D5EDFD;
    text-transform: uppercase;
    color:#2DA5F3;
    font-weight: 600;
    font-size: 14px;
    padding: 16px 24px;
    cursor: pointer;
    transition:opacity .5s ease;
}

.accInfo__main-btn:hover{
    opacity: 0.7;
}
.userPage__mainBlock-settings{
    animation: appearDesc 1s ease forwards;
}

.settings__accSettings{
    border: 1px solid #E4E7E9;
    border-radius: 4px;
}
.settings__accSettings-title{
    font-size: 16px;
    font-weight: 500;
    color: #191C1F;
    text-transform: uppercase;
    padding:16px 24px;
    border-bottom: 1px solid #E4E7E9;
}

.accSettings__form{
    padding: 24px;
}

.accSettings__form-input{
    max-width: 360px;
}
.accSettings__form-btn{
    padding: 16px 24px;
    background-color: #FA8232;
    border:none;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color:#fff;
    font-family: 'Public Sans',sans-serif;
    transition:opacity .5s ease;
    cursor: pointer;
}
.accSettings__form-btn:hover{
    opacity: 0.7;
}

.settings__passSettings{
    margin-top: 24px;
}
.select__optionsBlock-adminPanel{
    max-height: 500px;
}

.select__text-adminPanel{
    font-size: 14px;
}
.selectBlock__select-inner--adminPanel{
    min-width: 210px;
}
.select__img-adminPanel{
    top: 13px;
}

.adminForm__blockSelects{
    display: flex;
    align-items: center;
    gap:50px;
}

.adminForm__inputName{
    max-width: 470px;
}
.adminPanel__priceInput{
    margin-top: 20px;
}
.adminPanel__inputPricePadding{
    padding: 12px 36px;
}

.adminPanel__imageBlock{
    margin-top: 30px;
    margin-bottom: 20px;
}

.adminPanel__labelInputImage{
    display: inline-block; /* ставим display inlice-block,чтобы этот label правильно располагался и имел правильные размеры,так как у него еще внутри есть текст  */
    background-color: #fff;
    border: 2px solid #D5EDFD;
    text-transform: uppercase;
    color: #2DA5F3;
    font-weight: 600;
    font-size: 14px;
    padding: 16px 24px;
    opacity: 1;
    cursor: pointer;
    transition: opacity .5s ease;
}

.adminPanel__labelInputImage:hover{
    opacity: 0.7;
}

/* скрываем инпут с типом file,чтобы его не было видно,и стилизуем label который привязан к этому инпуту,это label будет иметь такую же функию,как и это инпут */
.adminPanel__inputImage{
    display: none;
}


.adminPanel__inputFileName{
    margin: 15px 0;
}

.adminPanel__textError{
    margin-top: 10px;
}

.adminPanel__previewImg{
    display: block;
    margin: 20px 0;
    max-width: 212px;
}

.commentsForm__item-stars{
    align-self: end;
}

.header__menuBtn{
    display: none;
}

.header__menuMobileList{
    display: none;
}

.header__menuMobileList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    width: 50%;
    height: 50vh;
    transform:translateX(100%);
    transition:all 1s ease;
    z-index: 2;
    background-color: rgb(53, 137, 194,0.9);
}

.menuMobileList__userCartBlock{
    position: absolute;
    top: 30px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width:1260px){

    .sectionTop__desc-item{
        padding-right: 54px;
    }

    .sectionNew__left,
    .sectionNew__right{
        padding: 20px;
    }

    .sectionNew__right-title,
    .sectionNew__left-title{
        font-size: 24px;
    }

}

@media (max-width:1210px) {
    
    .sectionTop__inner{
        gap:12px;
    }

    .sectionTop__right-topBlock{
        margin-bottom: 12px;
    }

    .sectionTop__left{
        gap: 12px;
        padding: 25px;
    }

    .info__title {
        font-size: 34px;
    }

    .sectionTop__left-img{
        max-width: 280px;
    }

    .sectionTop__right-topBlock,.sectionTop__right-bottomBlock{
        padding: 25px;
    }

    .sectionTop__desc-item{
        padding-right: 34px;
    }

    .footer__top-inner{
        gap: 50px;
    }

    .flashItem__info-title{
        font-size: 13px;
    }
}

@media (max-width:1100px){

    .sectionNew__left-img{
        max-width: 180px;
    }

    .sectionNew__left{
        gap: 20px;
    }

    .sectionMac__inner {
        padding: 0 35px;
    }

    .sectionMac__info-title{
        font-size: 32px;
    }

    .sectionMac__info-text{
        font-size: 18px;
    }

    .sectionMac__info-img {
        max-width: 430px;
    }

    .sectionTop__desc-item{
        flex-direction: column;
        padding-right: 24px;
    }

    .sectionSellers__inner{
        grid-template-columns: repeat(3,1fr);
    }

    .deals__item {
        padding: 14px;
    }

    .filters__right-desc{
        text-wrap: nowrap;
    }

    .filters__right-desc,
    .filters__right-text{
        align-self:start;
    }

    .productsBlock__top-filters{
        gap: 5px;
    }

    .top__filters-left{
        flex-wrap: wrap;
        gap: 5px 16px; /* указываем первым значением gap для рядов(по вертикали),а вторым - gap для колонок(по горизонтали) */
    }
}

@media (max-width:970px){
    .deals__item-img{
        max-width: 150px;
    }

    .sectionTop__right-sale,
    .deals__item-hot{
        padding: 4px 8px;
    }

    .right__sale-text{
        font-size: 14px;
    }

    .deals__item-hot{
        top: 30px;
    }

    .sectionTop__left-img{
        max-width: 200px;
    }
    .sectionTop__left{
        padding: 10px;
    }
    .sectionTop__right-topBlock, .sectionTop__right-bottomBlock{
        padding: 10px;
    }
    .right__info-link{
        padding: 10px;
    }
    .info__link{
        padding: 10px 16px;
    }
    .info__title{
        font-size: 28px;
    }
    .info__desc{
        font-size: 16px;
    }
    .info__subtitle,
    .right__info-subtitle {
        font-size: 13px;
    }
    .right__bottomBlock-title,
    .right__info-title{
        font-size: 20px;
    }

    .info__link.right__info-link{
        padding: 8px 16px;
    }

    .right__bottomBlock-img{
        max-width: 130px;
    }

    .sectionMac__info-img{
        max-width: 330px;
    }

    .productsBlock__top-inputBlock{
        min-width: 300px;
    }
}   

@media (max-width:870px) {
  
    .sectionNew__info-link {
        padding: 10px 5px 10px 25px;
    }

    .sectionNew__right-title, .sectionNew__left-title{
        font-size: 22px;
    }

    .sectionNew__text,
    .sectionNew__right-text{
        font-size: 14px;
    }

    .sectionNew__right-subtitle,
    .sectionNew__left-subtitle{
        padding: 3px 9px;
    }

    .footer__top-inner{
        grid-template-columns: repeat(3,1fr);
    }

    .footer{
        padding: 45px 0 24px 0;
    }

    .logo-title{
        font-size: 28px;
    }

    .logo-img{
        max-width: 40px;
    }


}

@media (max-width:800px){
    .sectionTop__left-img{
        max-width: 130px;
    }

    .info__title{
        font-size: 18px;
    }

    .info__subtitle{
        font-size: 12px;
    }

    .info__desc,
    .info__link-text {
        font-size: 14px;
    }

    .info__desc{
        margin-bottom: 10px;
    }

    .info__link{
        padding: 8px 14px;
    }
    .right__bottomBlock-title, 
    .right__info-title{
        font-size: 18px;
    }

    .item__info-title{
        font-size: 13px;
    }
    .sectionTop__desc-item{
        padding-right: 14px;
    }

    .sectionSellers__inner{
        grid-template-columns: repeat(2,1fr);
    }
    .deals__item{
        padding: 10px;
    }
    .deals__item-img{
        max-width: 120px;
    }

    .sectionNew__left-img{
        max-width: 140px;
    }

    .sectionMac__inner{
        padding: 20px;
    }

    .sectionMac__info-img{
        max-width: 280px;
    }


    .header__menuList{
        display: none;
    }

    .header__menuBtn{
        width: 50px;
        height: 47px;
        display: block;
        background-color: transparent;
        border:none;
        position: relative;
        z-index: 5;
        cursor:pointer;
    }

    .menuBtn__span{
        width: 40px;
        height: 2px;
        background-color: #fff;
        border-radius: 20%;
        position: absolute;
        right: 0;
        transition:transform .5s ease;
    }
    .menuBtn__span:nth-child(1){
        top:10px;
        transform-origin: left; /* это свойство нужно,чтобы типа указать с какой стороны будет происходить анимация transform, то есть для данного спана будет анимация,которая уменьшает его влевую сторону,а не по центру,как если бы это свойство было по умолчанию */
    }
    .menuBtn__span:nth-child(2){
        top:25px;
    }
    .menuBtn__span:nth-child(3){
        top:25px;
    }
    .menuBtn__span:nth-child(4){
        top:40px;
        transform-origin: right;
    }

    .menuBtn__spanActiveScale{
        transform: scaleX(0);
    }
    .menuBtn__spanActiveRotate2{
        transform: rotate(45deg);
    }
    .menuBtn__spanActiveRotate3{
        transform: rotate(-45deg);
    }

    .header__menuMobileListActive{
        opacity: 1;
        transform:translateX(0);
    }

    .sectionCatalog__inner{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .sectionCatalog__notFoundText{
        margin-bottom: 50px;
    }

}

@media (max-width:690px){

    .sectionTop__inner {
        grid-template-columns: 1fr;
    }

    .info__link{
        max-width: 143px;
    }

    .sectionTop__left-img{
        max-width: 170px;
    }

    .sectionTop__right-topBlock{
        background-position: bottom;
    }

    .sectionTop__right-bottomBlock{
        justify-content: space-evenly;
    }
    .sectionTop__desc{
        grid-template-columns: repeat(2,1fr);
    }

    .sectionTop__desc-item2{
        border-right: none;
    }

    .deals__item-img{
        max-width: 180px;
    }

    .sectionDeals__deals{
        grid-template-columns: repeat(2,1fr);
    }

    .deals__item-borderBottom{
        border-bottom: 1px solid #E4E7E9;
    }

    .sectionNew__inner{
        flex-direction: column;
    }

    .sectionNew__left{
        justify-content: space-between;
    }

    .sectionNew__left-img{
        max-width: 180px;
    }

    .sectionNew__right {
        background-position: top right;
    }

    .sectionMac__info-title{
        font-size: 22px;
    }

    .sectionMac__info-text{
        font-size: 16px;
    }

    .sectionMac__info-img {
        max-width: 250px;
    }

    .list__item-title{
        font-size: 14px;
    }

    .logo-title{
        font-size: 24px;
    }

    .logo-img{
        max-width: 38px;
    }

    .footer__top-inner{
        grid-template-columns: repeat(2,1fr);
    }

    .sectionTop__desc {
        margin-bottom: 18px;
    }

    .sectionDeals,
    .sectionNew {
        padding-bottom: 42px;
    }

    .sectionMac,
    .sectionSellers{
        margin-bottom: 42px;
    }

    .productsBlock__top{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .productsBlock__top-selectBlock{
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .sectionCatalog__inner{
        display: flex;
        flex-direction: column;
    }

    .sectionCatalog__productsBlock-pagination{
        margin: 40px 0;
    }
}

@media (max-width:550px) {

    .sectionSellers__inner{
        grid-template-columns: 1fr;
    }

    .sectionMac__inner {
        padding: 10px;
    }

    .sectionMac__info-img{
        max-width: 210px;
    }

    .deals__item3-borderBottom{
        border-bottom: 1px solid #E4E7E9;
    }

    .sectionDeals__deals{
        grid-template-columns: 1fr;
    }

    .sectionDeals__link{
        justify-content: space-around;
    }

    .sectionCatalog__productsBlock-products{
        grid-template-columns: 1fr;
    }

    .products__item{
        display: flex;
        flex-direction: column;
    }

    .products__item-img{
        align-self: center;
    }

}

@media (max-width:450px){

    .sectionNew__left{
        flex-direction: column;
        align-items: start;
        padding: 10px;
    }

    .sectionNew__left-img{
        order: -1;
        align-self: center;
    }

    .sectionTop__left{
        flex-direction: column;
    }

    .sectionTop__left-img{
        order:-1;
    }

    .sectionTop__right-topBlock{
        gap: 53px;
    }

    .sectionMac__inner{
        flex-direction: column;
    }

    .sectionMac__info-img{
        align-self: center;
        order:-1;
    }

    .footer__top-inner{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 35px;
    }

    .footer{
        padding: 35px 0 24px 0;
    }

    .productsBlock__top-filters{
        gap: 35px;
    }

    .pagination__item{
        padding: 8px 12px;
    }

    .btnLeft__imgRight,
    .btnLeft__imgLeft{
        max-width: 30px;
    }
}