@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    overflow-x:hidden;
}

ul{
    list-style: none;
}

a{
    color:inherit;
    text-decoration: none;
}

.container{
    max-width: 1320px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    padding: 20px 0;
    background-color: #3589c2;
    color:#fff;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap:10px;   
}

.logo-title{
    font-weight: 700;
    font-size: 32px;
}

.header__menuList{
    display: flex;
    align-items: center;
    gap:70px;
}

.menuList__item-link{
    font-size: 18px;
    font-weight: 400;
    opacity: 1;
    transition:all .5s ease;
}
.menuList__item-linkActive{
    color:#4ab6ff;
}
.menuList__item-link:hover{
    opacity: 0.5;
}

.menuList__item-cart{
    position: relative;
}

.item__link-spanCart{
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0 1px;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    color:#1B6392;
    transition:all .5s ease;
}

.menuList__item-linkCartActive .item__link-spanCart{
    background-color: #85ccfc;
}

.sectionTop{
    padding: 24px 0;
    opacity: 0;
    transform:translateX(-50%);
    transition:all 1s ease;
}
.sectionTop__active{
    opacity: 1;
    transform:translateX(0);
}

.sectionTop__inner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.sectionTop__left{
    padding: 56px;
    display: flex;
    align-items: center;
    gap:36px;
    background-color: #F2F4F5;
}

.info__subtitle{
    color:#2484C2;
    font-size: 14px;
    font-weight: 600;
}
.info__title{
    color:#000;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 16px;
}
.info__desc{
    font-size: 18px;
    font-weight: 400;
    color:#475156;
    margin-bottom: 24px;
}

.info__link{
    padding: 16px 32px;
    color:#fff;
    display: flex;
    align-items: center;
    gap:12px;
    background-color: #FA8232;
    max-width: 191px;
    font-family: 'Public Sans',sans-serif;
    transition:opacity .5s ease;
}
.info__link:hover{
    opacity: 0.8;
}
.info__link:hover .info__link-img{
    animation:arrow 1s ease infinite;
}
.info__link-text{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.sectionTop__right-topBlock{
    padding: 46px;
    display: flex;
    justify-content: space-between;
    gap:93px;
    background-image: url('/public/images/sectionTop/Widget.png');
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 24px;
}
.right__info-subtitle{
    color:#EBC80C;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.right__info-title{
    font-size: 24px;
    font-weight: 600;
    color:#fff;
    margin-bottom: 18px;
}

.right__info-link{
    max-width: 156px;
    gap:5px;
    padding: 14px;
    align-items: center;
}

.right__info-link .info__link-text,
.right__bottomBlock-link .info__link-text{
    font-size: 14px;
}

.right__info-link:hover{
    opacity: 0.9;
}
.info__link-text{
    text-wrap: nowrap;
}
.sectionTop__right-sale{
    padding: 8px 16px;
    background-color: #EFD33D;
    align-self: start;
    border-radius: 2px;
}
.right__sale-text{
    font-size: 16px;
    font-weight: 600;
    text-wrap: nowrap;
}

.sectionTop__right-bottomBlock{
    background-color: #F2F4F5;
    padding: 40px;
    display: flex;
    align-items: center;
    gap:20px;
}
.right__bottomBlock-title{
    font-size: 24px;
    font-weight: 600;
    color:#000;
    margin-bottom: 12px;
}
.right__bottomBlock-price{
    color:#2DA5F3;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.right__bottomBlock-link{
    max-width: 156px;
    justify-content: center;
}

.sectionTop__desc{
    margin-top: 24px;
    padding: 16px;
    margin-bottom: 48px;
    border:1px solid #E4E7E9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
}
.sectionTop__desc-item{
    border-right: 1px solid #E4E7E9;
    display: flex;
    align-items: center;
    gap:16px;
    padding-right: 74px;
}
.item__info-title{
    font-size: 14px;
    font-weight: 500;
    color:#000;
    margin-bottom: 4px;
    text-transform: uppercase;
}
.item__info-text{
    font-size: 14px;
    font-weight: 400;
    color:#5F6C72;
}
.sectionTop__desc-item4{
    border-right: none;
}

.sectionDeals{
    padding-bottom: 72px;
    opacity: 0;
    transform:translateX(50%);
    transition:all 1s ease;
}
.sectionDeals__active{
    opacity: 1;
    transform:translateX(0);
}
.sectionDeals__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}
.sectionDeals__title{
    font-size: 24px;
    font-weight: 600;
    color:#000;
}
.sectionDeals__top-browseBlock{
    display: flex;
    align-items: center;
    gap:8px;
    opacity: 1;
    transition:opacity .5s ease;
}
.sectionDeals__top-browseBlock:hover{
    opacity: 0.8;
}

@keyframes arrow {
    0%{
        transform:translateX(0);
    }

    50%{
        transform:translateX(50%);
    }

    70%{
        transform:translateX(-30%);
    }

    85%{
        transform:translateX(20%);
    }

    100%{
        transform:translateX(0);
    }
}

.sectionDeals__top-browseBlock:hover .top__browseBlock__img{
    animation: arrow 1s ease infinite;
}   


.top__browseBlock-text{
    font-size: 14px;
    font-weight: 600;
    color:#2DA5F3;
}
.sectionDeals__deals{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid #E4E7E9;
}
.deals__item{
    padding: 16px;
    border-right: 1px solid #E4E7E9;
    transition:all .5s ease;
}
.deals__item:hover{
    background-color: rgba(0,0,0,0.2);
}
.sectionDeals__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 302px;
    position: relative;
}
.deals__item-discount{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.deals__item-hot{
    font-size: 12px;
    font-weight: 600;
    color:#fff;
    background-color: #EE5858;
    padding: 5px 10px;
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: 2px;
}
.deals__item4{
    border-right: none;
}
.deals__item5{
    border-top: 1px solid #E4E7E9;
}
.deals__item-img{
    align-self: center;
    margin-bottom: 6px;
    mix-blend-mode: multiply; /* убираем задний белый фон картинки */
}
.deals__item-desc{
    font-size: 14px;
    font-weight: 400;
    color:#000;
    margin-bottom: 8px;
}
.deals__item-priceBlock{
    display: flex;
    align-items: center;
    gap:5px;
}
.deals__item-pricePrev{
    color:#929FA5;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
}
.deals__item-price{
    font-size: 14px;
    font-weight: 600;
    color:#2DA5F3;
}

.sectionNew{
    padding-bottom: 72px;
    opacity: 0;
    transform:translateX(50%);
    transition:all 1s ease;
}
.sectionNew__active{
    opacity: 1;
    transform:translateX(0);
}
.sectionNew__inner{
    display: flex;
    gap:24px;
}

.sectionNew__left{
    padding: 44px;
    background-color: #F2F4F5;
    display: flex;
    align-items: center;
    gap:40px;
    border-radius: 4px;
}
.sectionNew__left-info{
    max-width: 280px;
}
.sectionNew__left-subtitle{
    color:#fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 12px;
    background-color: #2DA5F3;
    margin-bottom: 8px;
    display: inline-block;
}
.sectionNew__left-title{
    font-size: 32px;
    font-weight: 600;
    color:#000;
    margin-bottom: 12px;
}
.sectionNew__right-info{
    max-width: 280px;
}
.sectionNew__text{
    font-size: 16px;
    font-weight: 400;
    color:#475156;
    margin-bottom: 20px;
}
.sectionNew__right{
    padding: 44px;
    background-image: url('/public/images/sectionNew/Banner.png');
    display: flex;
    gap:12px;
    min-width: 648px;
    border-radius: 4px;
}
.sectionNew__right-img{
    align-self: flex-end;
}
.sectionNew__right-subtitle{
    padding: 6px 12px;
    color:#000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: #EFD33D;
    display: inline-block;
}
.sectionNew__right-title{
    font-size: 32px;
    font-weight: 600;
    color:#fff;
    margin-bottom: 12px;
}
.sectionNew__right-text{
    font-size: 16px;
    font-weight: 400;
    color:#ADB7BC;
    margin-bottom: 20px;
}
.sectionNew__info-link{
    padding: 14px 5px 14px 25px;
}
.sectionMac{
    margin-bottom: 72px;
    opacity: 0;
    transform:translate(-50%);
    transition:all 1s ease;
}
.sectionMac__active{
    opacity: 1;
    transform:translate(0);
}
.sectionMac__inner{
    padding: 0 72px;
    background-color: #FFE7D6;
    display: flex;
    justify-content: space-between;
}
.sectionMac__info-subtitle{
    padding: 6px 12px;
    color:#fff;
    background-color: #2DA5F3;
    margin-bottom: 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.sectionMac__info-title{
    font-size: 48px;
    font-weight: 600;
    color:#000;
    margin-bottom: 22px;
}
.sectionMac__info-text{
    font-size: 24px;
    font-weight: 400;
    color:#191C1F;
    margin-bottom: 22px;
}
.sectionMac__info{
    align-self:center;
}
.sectionSellers{
    margin-bottom: 56px;
    overflow-y:hidden;
}
.sectionSellers__inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:24px;
    opacity: 0;
    transform:translateY(-100%);
    transition:all 1s ease;
}
.sectionSellers__inner-active{
    opacity: 1;
    transform:translateY(0);
}
.sectionSellers__flash-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
}
.sectionSellers__flash-item{
    padding: 12px;
    display: flex;
    gap:12px;
    align-items: center;
    border:1px solid #E4E7E9;
    margin-bottom: 16px;
    transition:all .3s ease;
}
.sectionSellers__flash-item:hover{
    background-color: rgba(0,0,0,0.2);
}
.flashItem__info-title{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.item__info-price{
    color:#2DA5F3;
    font-size: 14px;
    font-weight: 600;
}
.flash__item-img{
    mix-blend-mode: multiply; /* убираем задний белый фон картинки */
}

.footer{
    padding: 72px 0 24px 0;
    background-color: #191C1F;
    color:#fff;
}
.footer__top{
    border-bottom:1px solid #4d4d4d;
}
.footer__top-inner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:150px;
    padding-bottom: 72px;
}
.footer__logo{
    margin-bottom: 24px;
}

.mainCatalog{
    transform:translateX(-50%);
    opacity: 0;
    transition:all 1s ease;
}

.mainCatalog__active{
    transform:translateX(0);
    opacity: 1;
}

.top__info-subtitle{
    font-size: 14px;
    font-weight: 400;
    color:#77878F;
    margin-bottom: 4px;
}
.top__info-number{
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
    transition:opacity .3s ease;
}

.top__info-number:hover{
    opacity: 0.7;
}

.top__info-email{
    opacity: 1;
    transition:opacity .3s ease;
}

.top__info-email:hover{
    opacity: 0.7;
}

.top__info-address{
    font-size: 16px;
    font-weight: 400;
    color:#ADB7BC;
    margin: 12px 0;
}
.list__item-title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.list__item-link{
    font-size: 14px;    
    font-weight: 500;
    color:#929FA5;
    margin-bottom: 12px;
    display: inline-block;
    opacity: 1;
    transition:opacity .3s ease;
}
.list__item-link:hover{
    opacity: 0.7;
}
.top__download-item{
    padding: 18px 20px;
    background-color: #303639;
    margin-bottom: 12px;
    display: flex;
    gap:16px;
    transition:opacity .3s ease;
}
.top__download-item:hover{
    opacity: 0.7;
}
.download__item-subtitle{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 4px;
}
.download__item-text{
    font-size: 14px;
    font-weight: 500;
}
.footer__bottom-text{
    padding-top: 24px;
    font-size: 14px;
    font-weight: 400;
    color:#ADB7BC;
    text-align: center;
}
.sectionCatalog__top{
    background-color: #F2F4F5;
    padding: 26px;
}
.sectionCatalog__top-inner{
    display: flex;
    align-items: center;
    gap: 8px;
    color:#5F6C72;
    font-size: 14px;
    font-weight: 400;
}
.sectionCatalog__top-textCenter{
    margin: 0 4px;
}
.sectionCatalog__top-textActive{
    color:#2DA5F3;
}

.sectionCatalog__inner{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 24px;
}
.filterBar__title{
    font-size: 16px;
    font-weight: 500;
    color:#000;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.filterBar__categories,
.filterBar__price{
    padding-bottom: 24px;
    border-bottom: 1px solid #E4E7E9;
    margin-bottom: 24px;
}
.filterBar__categories-item{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
    cursor:pointer;
    opacity: 1;
    transition:all .5s ease;
}
.filterBar__categories-item:hover{
    opacity: 0.7;
}

.filterBar__categories-item:hover .categories__item-radioStyle,
.filterBar__categories-item:hover .categories__item-checkBoxStyle{
    border:2px solid #FA8232;
}

.categories__item-text{
    font-size: 14px;
    font-weight: 400;
    color:#475156;
    margin-left: 28px;
}
.categories__item-radio{
    position: absolute;
    width: 1px; 
    height: 1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
}
.categories__item-radioStyle{
    position: absolute;
    width: 20px;
    height: 20px;
    border:1px solid #C9CFD2;
    border-radius:50%;
}

.categories__item-radioStyleActive{
    background-color: #FA8232;
}

.categories__item-radio:checked + .categories__item-radioStyle::before{
    content:"";
    width: 8px;
    height: 8px;
    background-color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
}
.categories__item-textActive{
    font-size: 14px;
    font-weight: 500;
    color:#191C1F;
}

.categories__item-checkBoxStyle{
    position: absolute;
    width: 20px;
    height: 20px;
    border:1px solid #C9CFD2;
}

.categories__item-checkBoxStyleActive{
    background-color: #FA8232;
}

.categories__item-checkBoxStyleActive.categories__item-checkBoxStyle::before{
    content:"";
    width: 20px;
    height: 20px;
    background-image: url('/public/images/sectionCatalog/Check.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.productsBlock__top-input{
    border:1px solid #E4E7E9;
    color:#77878F;
    padding: 14px 40px 14px 16px;
    outline:none;
    position: relative;
    width: 100%;
}

.productsBlock__top{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.productsBlock__top-inputBlock{
    min-width: 424px;
    position: relative;
}

.productsBlock__top-selectBlock{
    display: flex;
    align-items: center;
    gap:22px;
}

.selectBlock__select{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border:1px solid #E4E7E9;
    min-width: 180px;
    position: relative;
    min-height: 44px;
}

.select__img{
    position: absolute;
    top: 12px;
    right: 16px;
}
.selectBlock__select-inner{
    position: relative;
    cursor:pointer;
}
.select__optionsBlock{
    max-height: 0;
    position: absolute;
    top: 5px;
    left: 0;
    opacity: 0;
    background-color: #fff;
    min-width: 180px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
    transition:all 1s ease;
    z-index: -2;
}

.select__optionsBlock--active{
    max-height: 100px;
    top: 45px;
    opacity: 1;
    z-index: 5;
}

.optionsBlock__item{
    padding: 5px;
    padding: 12px 0 10px 10px;
}
.optionsBlock__item:hover{
    background-color: rgba(0,0,0,0.1);
}
.optionsBlock__item-text{
    font-size: 14px;
    font-weight: 400;
}

.productsBlock__top-img{
    position: absolute;
    top: 12px;
    right: 12px;
}

.select__img{
    transform:rotate(0deg);
    transition:all .5s ease;
}

.select__img--active{
    transform:rotate(-180deg);
}

.productsBlock__top-filters{
    background-color: #F2F4F5;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}
.filters__left-text{
    color: #5F6C72;
}
.top__filters-left{
    display: flex;
    align-items: center;
    gap:16px;
}
.filters__left-filterItem{
    display: flex;
    align-items: center;
    gap:6px;
}
.filterItem-img{
    cursor:pointer;
}
.filterItem__text{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color:#191C1F;
}
.top__filters-right{
    display: flex;  
    align-items: center;
    gap: 5px;
}
.filters__right-text{
    color:#191C1F;
    font-weight: 500;
}
.filters__right-desc{
    color:#5F6C72;
}
.sectionCatalog__productsBlock-products{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:16px;
}
.item__stars-img{
    mix-blend-mode: multiply;
}
.item__stars-imgGray{
    max-width: 15px;
    mix-blend-mode: multiply;
}
.products__item{
    border:1px solid #E4E7E9;
    padding: 16px;
    transition:all .5s ease;
}
.products__item:hover{
    background-color: rgba(0,0,0,0.15);
}
.products__item-img{
    margin-bottom: 24px;
    mix-blend-mode: multiply;
}
.products__item-middleBlock{
    display: flex;
    gap:4px;
    margin-bottom: 8px;
}
.item__middleBlock-text{
    color:#77878F;
    font-size: 14px;
    font-weight: 400;
}
.products__item-desc{
    font-size: 14px;
    font-weight: 400;
    color:#191C1F;
    margin-bottom: 8px;
}
.products__item-price{
    color:#2DA5F3;
    font-size: 14px;
    font-weight: 600;
}
.sectionAbout{
    transform:translateX(-50%);
    transition:all 1s ease;
    opacity: 0;
}
.sectionAbout--active{
    transform:translateX(0);
    opacity: 1;
}
.sectionAbout__top{
    padding: 72px 0 124px 0;
    display: flex;
    align-items: center;
    gap:136px;
}
.sectionAbout__inner{
    border-bottom: 1px solid #E4E7E9;
}
.sectionAbout__top-img{
    border-radius: 4px;
}
.sectionAbout__top-info .top__info-subtitle{
    background-color: #2DA5F3;
    color:#fff;
    padding: 8px 16px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;

}

.top__info-title{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}
.top__info-desc{
    font-size: 16px;
    font-weight: 400;
    color:#475156;
    margin-bottom: 32px;
}
.top__info-itemDesc{
    display: flex;
    align-items: center;
    gap:12px;
    margin-bottom: 16px;
}
.sectionTeam__inner{
    padding: 72px 0;
}
.sectionTeam__title{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
}
.sectionTeam__team{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:24px;
}
.sectionTeam__inner{
    transform: translateX(50%);
    opacity: 0;
    transition:all 1s ease;
}
.sectionTeam__inner--active{
    transform: translateX(0);
    opacity: 1;
}
.team__item{
    display: flex;
    align-items: center;
    gap:16px;
    padding: 24px;
    border:1px solid #E4E7E9;
}
.team__item-title{
    font-size: 16px;
    font-weight: 600;
    color:#191C1F;
    margin-bottom: 8px;
}
.team__item-text{
    font-size: 14px;
    font-weight: 400;
    color:#475156;
}
.sectionTrusted{
    background-image: url('/public/images/sectionAbout/Banner.png');
    padding: 88px 0 150px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 72px;
    transform:translateX(-50%);
    transition:all 1s ease;
    opacity: 0;
}
.sectionTrusted--active{
    opacity: 1;
    transform:translateX(0);
}
.sectionTrusted__title{
    max-width: 300px;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 600;
}
.sectionTrusted__text{
    max-width: 423px;
    font-size: 18px;
    font-weight: 400;
}

.sectionTableCart{
    margin:72px 0 200px 0;
}
.sectionTableCart__inner{
    display: flex;  
    gap:24px;
}
.sectionTableCart__table{
    border:1px solid #E4E7E9;
    min-width: 872px;
}
.table__top{
    padding: 20px 24px;
}
.sectionTableCart__title{
    font-size: 18px;
    font-weight: 500;
    color:#191C1F;
}
.table__names{
    padding: 10px 24px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    background-color: #F2F4F5;
    border-top:1px solid #E4E7E9;
    border-bottom:1px solid #E4E7E9;
}
.table__names-text{
    text-transform: uppercase;
    color:#475156;
    font-size: 14px;
    font-weight: 500;
}
.table__bottom{
    padding: 24px;
    display: grid;
    border-top:1px solid #E4E7E9;
}
.table__bottom-btnUpdate{
    border:2px solid #2DA5F3;
    padding: 12px 24px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color:#2DA5F3;
    background-color: #fff;
    cursor:pointer;
    opacity: 1;
    transition:opacity .5s ease;
    justify-self: end;
}
.table__bottom-btnUpdate:hover{
    opacity: 0.5;
}

.sectionTableCart__totals{
    border:1px solid #E4E7E9;
    padding: 20px 24px;
    min-width: 424px;
}
.totals__title{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color:#191C1F;
}
.totals__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.totals__item-text{
    color:#5F6C72;
    font-size: 14px;
    font-weight: 400;
}
.totals__item-textRight{
    color:#191C1F;
    font-size: 14px;
    font-weight: 600;
}
.totals__itemTotal{
    border-top:1px solid #E4E7E9;
    padding: 16px 0 24px 0;
}
.totals__item-textTotal{
    font-size: 16px;
    font-weight: 500;
}
.totals__item-totalPrice{
    color:#191C1F;
    font-size: 16px;
    font-weight: 700;
}
.table__items{
    padding: 24px;
}
.totals__btn{
    padding: 16px 70px;
    color:#fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap:12px;
    background-color: #FA8232;
    font-family: 'Public Sans',sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition:opacity .5s ease;
    border:none;
    cursor:pointer;
}
.totals__btn:hover{
    opacity: 0.8;
}
.totals__btn:hover .totals__btn-img{
    animation:arrow 1s ease infinite;
}
.table__item-item{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 16px;
}
.table__item-info{
    display: flex;
    align-items: center;
    gap:12px;
}
.table__item-deleteImg{
    cursor:pointer;
    transition:opacity .5s ease;
    opacity: 1;
}
.table__item-deleteImg:hover{
    opacity: 0.7;
}
.table__item-inputBlock{
    max-width: 120px;
    position: relative;
}
.inputBlock__minusBtn{
    position: absolute;
    top: 12px;
    left: 15px;
    cursor:pointer;
    background-color: #fff;
    border:none;
    outline:none;
}
.inputBlock__plusBtn{
    position: absolute;
    top: 12px;
    right: 15px;
    cursor:pointer;
    background-color: #fff;
    border:none;
    outline:none;
}
.table__item-desc{
    font-size: 14px;
    font-weight: 400;
    max-width: 260px;
}
.inputBlock__input{
    max-width: 120px;
    padding: 12px 40px;
    text-align: center;
    border:1px solid #E4E7E9;
    outline:none;
}

/* убираем стрелки вверх и вниз для инпута по умолчанию */
.inputBlock__input::-webkit-inner-spin-button,
.inputBlock__input::-webkit-outer-spin-button {
  appearance: none;
}